### Composer
composer.phar
/vendor/
composer.lock

### PHP
.php-cs-fixer.cache
.phpunit.result.cache

### Environment
.env
.env.local
.env.*.local

### Docs
/build/

### IDE
.idea/
.vscode/
*.sublime-*

### OS
.DS_Store
Thumbs.db
*~
*.swp

### Backup
*.bak
*.orig
